* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 25px;
}

body {
    background: linear-gradient(0deg, rgba(242, 12, 212, 0) 0%, rgba(0, 0, 0, 0.75) 100%), url(../Img/1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header div{
    display: flex;
    justify-content: space-between;
    color: #6ddfc2;;
    background: linear-gradient(90deg, rgba(134,134,134,1) 9%, rgba(7,9,18,0.8965336134453782) 73%);
}
.wrapper {
    color: #6ddfc2;
    height: 100vh;  
    display: grid;
    place-items: center;
}

.box {
    background: linear-gradient(90deg, rgba(134,134,134,1) 9%, rgba(7,9,18,0.8965336134453782) 73%);
    border-radius: 1em;
    padding: 2em;
}

form div {
    text-align: center;
}

section {
    background: linear-gradient(90deg, rgba(134,134,134,1) 9%, rgba(7,9,18,0.8965336134453782) 73%);
    width: 70vw;
    min-height: 70vh;
    border-radius: 1em;
}
section p {
    margin: 0.5em;
}

@media only screen and (min-width: 768px) {
    *{
        font-size: 20px;
    }
    
}

img{
    padding-left:27rem;
    height: 480px;
    width: max-content;

}